<h2>Cảm ơn bạn @ViewBag.MSSV - @ViewBag.HoTen đã đăng ký chuyên ngành @ViewBag.ChuyenNganh</h2>
@if (ViewBag.Count != null)
{
    <h3>Số lượng sinh viên đã đăng ký cùng ngành là: @ViewBag.Count</h3>
}
else
{
    <h3>Thông tin số lượng sinh viên không hợp lệ.</h3>
}
